@import '~bootstrap/scss/bootstrap';

$background-color: #fff;
$font-color: #000;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

header {
   padding-bottom: 10px;
   font-family: sans-serif;
   color: black;
}

body {
  background-size: cover;
  font-size: 36px;
  font-weight: 800;
  color: black;
}

section {
  padding: 10px;
  background-image: url('public/new-ga-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  color: black;
}

// .pagebody {
//   display: flex;
//   justify-content: center;
// }

h1 {
  text-align: center;
}

.displaywinner {
  color: black;
}

.formdiv {
  display: flex
}

h2 {
  text-align: center;
  color: green;
}

h3 {
  text-align: center;
  color: blue;
}

.navbuttons {
  font-size: 16px;
}


.box {
  align-items: center;
  border: 1px solid white;
  color: white;
  display: flex;
  height: 150px;
  width: auto;
  justify-content: center;
  background-image: url('public/tictactoe_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.signupform {
  height: 400px;
  width: 400px;
  font-size: 12px;
  margin: 20px auto;
  border: 1px solid $black;
  padding: 10px;
  justify-content: center;
}

.signinform {
  height: 400px;
  width: 400px;
  font-size: 12px;
  margin: 20px auto;
  border: 1px solid $black;
  padding: 10px;
  justify-content: center;
}

.changepassworddiv {
  text-align: right;
  margin: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.signupdiv, .signindiv {
  text-align: left;
  margin: 0 20px;
}

.gamebuttons {
  clear: both;
}

div#game-board {
    clear: both;
    width: 50%;
    margin-bottom: 10px;
}

.changepasswordform {
  height: 300px;
  width: 300px;
  font-size: 12px;
  margin: 20px;
  border: 1px solid $black;
  padding: 10px;
}
