@import '~bootstrap/scss/bootstrap';

$background-color: #fff;
$font-color: #000;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;



header {

   padding-bottom: 10px;
   font-family: 'Fredericka the Great', cursive;
   background-image: url('public/chalkboardtwo.jpg');
   background-size: cover;
   color: white;
   text-shadow: 1px 0 0;
   border-bottom: 1px solid white;
   height: 100px;
}

.galogo {
  height: 100px;
  width: auto;
  float: left;
  clear: none;
}

.container {
  height: 600px;
  width: auto;
}
body {
  background-size: cover;
  font-size: 36px;
  font-weight: 800;
  color: black;
}

section {
  padding: 10px;
  background-image: url('public/new-ga-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  min-height: 100vh;
}

.pageone {
  display: flex;
}
.pagetwo {
  display: flex;

}

h1 {
  text-align: center;
  color: white;
}

.displaywinner {
  color: black;
}

.totalgamesnotification {
  color: blue;
}

.formdiv {
  display: flex
}

h2 {
  text-align: center;
  color: green;
}

h3 {
  text-align: center;
  color: white;

}

h4 {
  color: blue;
}

.navbuttons {
  font-size: 16px;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
}

button {
  border-radius: 8px;
  padding: 3px;
  margin: 5px
}


.box {
  align-items: center;
  border: 1px solid white;
  color: white;
  display: flex;
  height: 150px;
  width: auto;
  justify-content: center;
  background-image: url('public/tictactoe_background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.signupform {
  height: 400px;
  width: 400px;
  font-size: 12px;
  margin: 20px auto;
  border: 1px solid $black;
  padding: 10px;
  justify-content: center;
}

.signinform {
  height: 400px;
  width: 400px;
  font-size: 12px;
  margin: 20px auto;
  border: 1px solid $black;
  padding: 10px;
  justify-content: center;
}

.changepassworddiv {
  text-align: right;
  margin: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.signupdiv, .signindiv {
  text-align: left;
  margin: 0 20px;
}

.gamebuttons {
  clear: both;
}

div#game-board {
    clear: both;
    width: 50%;
    margin-bottom: 10px;
}

.changepasswordform {
  height: 300px;
  width: 300px;
  font-size: 12px;
  margin: 20px;
  border: 1px solid $black;
  padding: 10px;
}
