@import '~bootstrap/scss/bootstrap';

$background-color: #fff;
$font-color: #000;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

header {
   border-bottom: 1px solid black;
   padding-bottom: 10px
}
body {
  background-image: url('public/trees_yeah.png');
  background-size: cover;
  font-size: 36px;
  font-weight: 800;
}

.title {
  font-family: fantasy;
}

h1 {
  text-align: center;
}

.greeting {
  font-family: fantasy;
  color: white;
  outline-color: black;
}

.displaywinner {
  color: black;
}

.formdiv {
  display: flex
}

h2 {
  text-align: center;
  color: green;
}

h3 {
  text-align: center;
  color: blue;
}

.buttons {
  text-align: center;
  margin: 20px auto;
}

.gamebuttons {
  margin: 20px auto;
  font-size: 18px;
  visibility: hidden;
}

.box {
  align-items: center;
  border: 5px solid white;
  color: $font-color;
  display: flex;
  height: 200px;
  width: auto;
  justify-content: center;
  visibility: hidden;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.signupform {
  height: 400px;
  width: 400px;
  font-size: 12px;
  margin: 20px auto;
  border: 1px solid $black;
  padding: 10px;
}

.signinform {
  height: 400px;
  width: 400px;
  font-size: 12px;
  margin: 20px auto;
  border: 1px solid $black;
  padding: 10px;
  visibility: visible;
}

.changepassworddiv {
  float: right;
  text-align: right;
  margin: 0 20px;
}

.signupdiv, .signindiv {
  float: left;
  text-align: left;
  margin: 0 20px;
}

.gamebuttons {
  float: left;
  clear: both;
}

div#game-board {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.changepasswordform {
  height: 300px;
  width: 400px;
  font-size: 12px;
  margin: 20px auto;
  border: 1px solid $black;
  padding: 10px;
  visibility: hidden;
}
